@model IEnumerable<Achievements.Models.ApplicationUser>






@foreach (var item in Model)
{
    <br />
    <div class="container-fluid well span6">
        <div class="row-fluid">
            <div class="span2">
                <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
            </div>
            
            <div class="span8">
                <h3>@Html.DisplayFor(modelItem => item.UserName)</h3>
                <h6>Name: @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.LastName)</h6>
                <h6>Email: @Html.DisplayFor(modelItem => item.Email)</h6>
                <h6>City: @Html.DisplayFor(modelItem => item.City)</h6>
                <h6>Job: @Html.DisplayFor(modelItem => item.Job)</h6>
                <h6>Class: @Html.DisplayFor(modelItem => item.Class)</h6>
                <h6>@Html.ActionLink("Details", "Details", new { Id = item.Id })</h6>

                <hr />
                <h6>@Html.ActionLink("Create Achievement", "Create", new { Controller = "Achievements", Id = item.Id, Name = item.Name})</h6>
                @*<h6>@Html.ActionLink("Show all achievements of this student", "ShowAchievements", new { Controller = "Achievements", Id = item.Id })</h6>*@
    
                @*<h6>@Html.ActionLink("Detail Achievement", "Details", new { Controller = "Achievements", Id = item.Id })</h6>
                <h6>@Html.ActionLink("Edit Achievement", "Edit", new { Controller = "Achievements", Id = item.Id })</h6>*@
                               @*<h6>@Html.ActionLink("Create Achievement", "Create", "Achievements", new { Id = item.Id })</h6>

                <h6>@Html.ActionLink("Edit Achievement", "Edit", "Achievement", new { Id = item.Id })</h6>*@

            </div>
            @*
    @if (User.IsInRole("Admin, Teacher"))
    {
        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">


                    <li>@Html.ActionLink("Edit", "Edit", new { Id = item.Id })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { Id = item.Id })</li>
                </ul>
            </div>
        </div>
    }*@
            <br />
        </div>
    </div>
}

